:root {
  --primary-color: #0194d6;
  --secondary-color: #e2e8f0;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: white;
  z-index: 2;
  padding: 10px;
}

.nav {
  margin-left: 8px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}

.logo-image {
  margin-right: 10px;
  width: 50px;
}

.main {
  display:grid;
  grid-template-rows: 1fr 5fr;
  background-color: var(--secondary-color);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eaeaea;
  margin: 1em 0;
  padding: 0;
}

.header .profile-picture {
  border:2px solid var(--primary-color);
  padding:2px;
}

.hi-there {
  font-size:12px;
}

.header-bottom-left {
  display:flex;
  gap:10px;
  align-items: center;
  font-weight: bold;
}

.user-greetings {
  display:flex;
  flex-direction: column;
  gap:5px;
}

.profile-name {
  font-weight: bold;
}

.user-name {
  font-size:20px;
}

.header-bottom-right {
  display:flex;
  align-items: center;
  gap:20px;
}

.header-button {
  background-color: var(--primary-color);
  border:none;
  color:white;
  font-weight: bold;
  padding:10px 30px;
  border-radius: 100px;
}

.header {
  display:flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding:10px 30px;
}

.header-top, .header-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.profile-picture {
  max-height: 100%;
  border-radius: 50%;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-button {
  background-color: transparent;
  border:none
}

.header-top-left {
  display:flex;
  align-items: center;
  gap:10px;
}

.notification-icon {
  width:30px;
  aspect-ratio: 1;
}

.notification-button {
  border:none;
  background-color: transparent;
}

.header-top-right {
  display:flex;
  align-items: center;
  gap:20px;
}

.search-bar {
  background-color: var(--secondary-color);
  border:none;
  border-radius: 50px;
  height:25px;
  max-width:80%;
  flex:1;
}

.search-icon {
  width:25px;
  aspect-ratio: 1;
}

#communities {
  margin-bottom: 50px;
}

.nav ul li {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: bold;
  font-size: 18px;
}

.icon {
  width: 30px;
}

.content-right {
  display:flex;
  flex-direction: column;
}

.content-title {
  margin-bottom:10px;
  font-weight: bold;
}

.annoucements-content {
  background-color: white;
  border-radius: 10px;
  padding:20px;
  margin-bottom:20px;
}

.annoucements-description {
  font-size:14px;
}

.annoucements-title {
  font-size:16px;
  font-weight: bold;
}

.trending-content {
  padding:20px;
  background-color: white;
  display:flex;
  flex-direction: column;
  gap:20px;
  border-radius: 10px;
}

.trending-card {
  display:flex;
  align-items: center;
  gap:15px;
  flex:1;
}

.trending-description {
  color: rgb(90, 90, 90)
}

.content {
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap:20px;
  padding-top:2%;
  padding-bottom:3%;
  padding-inline:2%;
}

.content-left {
  height:100%;
}

.card {
  max-width:500px;
  max-height: 300px;
  display:flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.card-content {
  flex:1;
  padding-top:30px;
  padding-left:20px;
  padding-right:10px;
  padding-bottom:5px;
  display:flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  font-size:18px;
  margin-bottom:3px;
}

.card-line {
  background-color: orange;
  width:2%;
  height: 100%;
}

.grid-container {
  height:96%;
  display:grid;
  gap:20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card-description {
  color:gray;
  font-size:15px;
  max-width:300px;
}

.card-buttons {
  display:flex;
  flex:1;
  justify-content: end;
  align-items: end;
}

.card-buttons button {
  border:none;
  background-color: transparent;
}

.button-icon {
  height: 25px;
  aspect-ratio: 1;
}

.filter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

a {
  text-decoration: none;
  color:inherit
}

button, .card-title, .profile-picture, .trending-username {
  cursor:pointer
}